<!DOCTYPE html>
<html lang="en">

<head th:replace="plantillas/dashboard  :: cabecera"></head>

<body class="animsition">
	<div class="page-wrapper">
		<span th:replace="plantillas/dashboard  :: aside"></span>
		<div class="page-container2">
			<span th:replace="plantillas/dashboard  ::  header"></span> <span
				th:replace="plantillas/dashboard  ::  aside_2"></span>

			<!-- Inicio Seccion Cambiante-->
			<section class="au-breadcrumb m-t-75">
				<div class="section__content section__content--p30">
					<div class="container-fluid">

						<div class="row">
							<div class="col-md-12">
								<div class="au-breadcrumb-content">
									<h1 class="text-center text-danger" th:text=${titulo}></h1>
								</div>
							</div>
						</div>
					</div>

				</div>
			</section>

			<section class="statistic">

				<div class="section__content section__content--p30">

					<div class="container-fluid">

						<div class="row">

							<form th:object="${entidad}" method="post" th:action="${RutaGrabar}" enctype="multipart/form-data">

								<div class="form-row">

									<div class="col-12 mb-2">
										<label for="exampleInputPassword1">Nombre del Producto
										</label> <select class="form-control" th:field="*{idProducto}">
											<option th:each="item : ${listaProducto}" th:value="${item.idProducto}"
												th:text="${item.nombre}"></option>
										</select>


									</div>
									<div class="form-group col-md-12">
										<label for="exampleInputPassword1">Ruta Foto
										</label>
										<input type="file" name="file" required>

									</div>


								</div>

								<button type="submit" class="btn btn-dark">
									<i class="fas fa-save"></i> Guardar
								</button>

								<a th:href=${RutaListado} class="btn btn-danger"> Regresar </a>



							</form>



						</div>
					</div>
				</div>
			</section>
			<!-- END STATISTIC-->





			<!-- STATISTIC-->
			<section class="statistic">

				<div class="section__content section__content--p30">
					<h1 class="text-center text-danger">Imagenes del producto : </h1>
					<div class="container-fluid">

						<div class="row">
							<table class="table">

								<thead class="thead-dark  ">
									<th>Id</th>
									<th>Foto</th>
									 

								</thead>
								<tbody>
									<tr th:each="item:${listaVer}">
                                    <td th:text="${item.idImagen}"></td>
									<td > <img th:src="@{'/uploads/'+${item.rutaFoto}}"/>	 
										 



									</tr>
								</tbody>
							</table>


						</div>
					</div>
				</div>
			</section>
			<!-- END STATISTIC-->



		</div>
	</div>


	<div th:replace="plantillas/dashboard :: footer"></div>

	<div th:replace="plantillas/dashboard :: libreria"></div>

	<script>
		function cambiarEstado(id) {
			let url = "[[${RutaEditarEstado}]]" + id;

			window.location.href = url;
		}
	</script>

</body>

</html>